/* Change the colors in this stylesheet to customize the game. */

/* Player Styles */

/* .player-color {
  background-color: #2a79d0;
} */

/* .player-area {
  background-color: #000;
  background-image: url(../images/game/chip.svg);
  box-shadow: inset -200px 0px 1000px  #B51BAB;
} */

/* .player-area {
  box-shadow: inset 10px 0px  100px 100px #B31BA8;
} */

/* .player-card .power {
  background-image: url(../images/game/shield.svg);
} */

/* Hacker Styles */

/* .hacker-color {
  background-color: #ce3d20;
} */

/* .hacker-area {
  background-color: #000;
  background-image: url(../images/game/chip.svg);
  box-shadow: inset 200px 0px 1000px  #B51BAB;
} */

/* .hacker-card .power {
  background-image: url(../images/game/skull.svg);
} */

.player-color {
  background-color: #2a79d0;
}

.player-card .power {
  background-image: url(../images/game/shield.svg);
}

/* Hacker Styles */

.hacker-color {
  background-color: #ce3d20;
}

.hacker-card .power {
  background-image: url(../images/game/skull.svg);
}



@media only screen and (max-width: 1000px) {

  /* Media query para smartphones com até 1000px de largura */
  .hacker-card .power {
    width: 15%;
    height: 15%;
  }

  .player-card .power {
    width: 15%;
    height: 15%;
  }
}

@media only screen and (max-width: 900px) {

  /* Media query para smartphones com até 900px de largura */
  .hacker-card .power {
    background-image: none;
  }

  .player-card .power {
    background-image: none;
  }
}